In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from pathlib import Path
import os
import shutil

In [7]:
input_path = r'F:\Datasets\rsna-pneumonia-detection-challenge\stage_2_train_images'
csv_path = r'F:\Datasets\rsna-pneumonia-detection-challenge\stage_2_train_labels.csv'
output_path = r'F:\Datasets\rsna-pneumonia-detection-challenge\stage_2_train'

In [8]:
def get_stem(filename):
    stem = Path(filename).stem
    return stem

In [69]:
def organize_classes(input_path, output_path, file_dict):
    for file_stem, target in file_dict.items():
        print(file_stem)
        target = str(target)
        print(target)
        if not os.path.exists(os.path.join( output_path, target)):
            os.makedirs(os.path.join( output_path, target))
        shutil.copy( os.path.join( input_path, file_stem+'.dcm' ), os.path.join( output_path, target, file_stem+'.dcm' ) )
    return None

In [70]:
labels = pd.read_csv(csv_path)

In [71]:
labels

,patientId,x,y,width,height,Target
0,0004cfab-14fd-4e49-80ba-63a80b6bddd6,NaN,NaN,NaN,NaN,0
1,00313ee0-9eaa-42f4-b0ab-c148ed3241cd,NaN,NaN,NaN,NaN,0
2,00322d4d-1c29-4943-afc9-b6754be640eb,NaN,NaN,NaN,NaN,0
3,003d8fa0-6bf1-40ed-b54c-ac657f8495c5,NaN,NaN,NaN,NaN,0
4,00436515-870c-4b36-a041-de91049b9ab4,264.0,152.0,213.0,379.0,1
...,...,...,...,...,...,...
30222,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,185.0,298.0,228.0,379.0,1
30223,c1edf42b-5958-47ff-a1e7-4f23d99583ba,NaN,NaN,NaN,NaN,0
30224,c1f6b555-2eb1-4231-98f6-50a963976431,NaN,NaN,NaN,NaN,0
30225,c1f7889a-9ea9-4acb-b64c-b737c929599a,570.0,393.0,261.0,345.0,1
30226,c1f7889a-9ea9-4acb-b64c-b737c929599a,233.0,424.0,201.0,356.0,1

In [72]:
labels['Target'].value_counts()

0    20672
1     9555
Name: Target, dtype: int64

In [73]:
file_dict = dict(zip(labels['patientId'].values, labels['Target'].values))

In [74]:
labels.head()

                              patientId      x      y  width  height  Target
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6    NaN    NaN    NaN     NaN       0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd    NaN    NaN    NaN     NaN       0
2  00322d4d-1c29-4943-afc9-b6754be640eb    NaN    NaN    NaN     NaN       0
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5    NaN    NaN    NaN     NaN       0
4  00436515-870c-4b36-a041-de91049b9ab4  264.0  152.0  213.0   379.0       1

In [ ]:
train_data